<br>
<form action="/login" method="post" id="form">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="login" id="login-button">
</form>
<br>
