<br>
<form action="/login" method="post" id="form">
    <input type="text" name="username" placeholder="username"><br>
    <input type="password" name="password" placeholder="password"><br>
    <input type="submit" value="login" id="login">
</form>
<br>
